.admin-dashboard {
    text-align: center;
    padding: 50px 20px;
}

.admin-welcome {
    margin-bottom: 40px;
}

.admin-welcome h1 {
    font-size: 2.5rem;
    color: #5a5a5a; /* Dark text */
}

.admin-welcome p {
    font-size: 1.2rem;
    color: #7d7d7d;
}

.admin-options {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap; /* Wrap options if the screen size is small */
}

.admin-option {
    padding: 20px 40px;
    background-color: white;
    border: 2px solid #c78550;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
    color: #5a5a5a;
    text-align: center;
}

.admin-option:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
    background-color: #fdfcf4;
}
