/* Hero Section */
.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 80vh;
  background: url('../Styles/images/image.png') no-repeat center center/cover;
}

.hero-content h1 {
  font-size: 3.5rem;
  color: #fff;
  margin-bottom: 10px;
  font-weight: bold;
}

.hero-content p {
  font-size: 1.5rem;
  color: #fff;
  margin-bottom: 20px;
}

.cta-button {
  padding: 12px 30px;
  background-color: #28a745;
  color: white;
  font-size: 1rem;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.cta-button:hover {
  background-color: #218838;
}

/* About Section */
.about-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 100px;
  background-color: #f8f9fa;
}

.about-content {  
  max-width: 50%;
}

.about-content h1 {
  text-align: center;
  color: #5a5a5a; /* Dark text */
  margin-bottom: 30px;
font-weight: bold;
}

.about-content h2 {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 15px;
  font-weight: bold;
}

.about-content p {
  font-size: 1.2rem;
  color: #555;
  margin-bottom: 20px;
  line-height: 1.6;
}

.link-button {
  color: #28a745;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: wheat;
}
.about-image img {
  max-width: 100%;
  border-radius: 10px;
}
